<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.11.0" xml:lang="en-US">
  <compounddef id="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper" kind="class" language="Java" prot="public">
    <compoundname>com::sterlite::cal::core::base::util::TokenMapper</compoundname>
    <sectiondef kind="private-static-attrib">
      <memberdef kind="variable" id="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1a953153fd4e53f6506f3949c12bcd1b9a" prot="private" static="yes" mutable="no">
        <type><ref refid="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper" kindref="compound">TokenMapper</ref></type>
        <definition>TokenMapper com.sterlite.cal.core.base.util.TokenMapper.singleInstance</definition>
        <argsstring></argsstring>
        <name>singleInstance</name>
        <qualifiedname>com.sterlite.cal.core.base.util.TokenMapper.singleInstance</qualifiedname>
        <initializer>= null</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" line="8" column="32" bodyfile="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" bodystart="8" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-attrib">
      <memberdef kind="variable" id="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1aff60bff6de6de4faf44310666b1102d7" prot="public" static="no" mutable="no">
        <type>String</type>
        <definition>String com.sterlite.cal.core.base.util.TokenMapper.tokenMap</definition>
        <argsstring></argsstring>
        <name>tokenMap</name>
        <qualifiedname>com.sterlite.cal.core.base.util.TokenMapper.tokenMap</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" line="10" column="19" bodyfile="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" bodystart="10" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="private-func">
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1a5ee6820340ccf9647ba37a9898631b95" prot="private" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>com.sterlite.cal.core.base.util.TokenMapper.TokenMapper</definition>
        <argsstring>()</argsstring>
        <name>TokenMapper</name>
        <qualifiedname>com.sterlite.cal.core.base.util.TokenMapper.TokenMapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" line="12" column="14" bodyfile="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" bodystart="12" bodyend="14"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-static-func">
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1a673db076eb499448f14383729a5c53f7" prot="public" static="yes" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper" kindref="compound">TokenMapper</ref></type>
        <definition>static TokenMapper com.sterlite.cal.core.base.util.TokenMapper.getInstance</definition>
        <argsstring>()</argsstring>
        <name>getInstance</name>
        <qualifiedname>com.sterlite.cal.core.base.util.TokenMapper.getInstance</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" line="16" column="31" bodyfile="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" bodystart="16" bodyend="21"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" line="6" column="7" bodyfile="repository/core/src/main/java/com/sterlite/cal/core/base/util/TokenMapper.java" bodystart="6" bodyend="23"/>
    <listofallmembers>
      <member refid="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1a673db076eb499448f14383729a5c53f7" prot="public" virt="non-virtual"><scope>com::sterlite::cal::core::base::util::TokenMapper</scope><name>getInstance</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1a953153fd4e53f6506f3949c12bcd1b9a" prot="private" virt="non-virtual"><scope>com::sterlite::cal::core::base::util::TokenMapper</scope><name>singleInstance</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1aff60bff6de6de4faf44310666b1102d7" prot="public" virt="non-virtual"><scope>com::sterlite::cal::core::base::util::TokenMapper</scope><name>tokenMap</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1core_1_1base_1_1util_1_1_token_mapper_1a5ee6820340ccf9647ba37a9898631b95" prot="private" virt="non-virtual"><scope>com::sterlite::cal::core::base::util::TokenMapper</scope><name>TokenMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
