<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.11.0" xml:lang="en-US">
  <compounddef id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper" kind="class" language="Java" prot="public">
    <compoundname>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</compoundname>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1af521d143579ddbcfcbcd6cc73155a2c0" prot="private" static="no" mutable="no">
        <type>String</type>
        <definition>String com.sterlite.cal.ivr.valueobject.AddonItemsMapper.addonName</definition>
        <argsstring></argsstring>
        <name>addonName</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.addonName</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="5" column="16" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="5" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a5b9ee2153979d7d52064a20ff67a7526" prot="private" static="no" mutable="no">
        <type>double</type>
        <definition>double com.sterlite.cal.ivr.valueobject.AddonItemsMapper.itemCharge</definition>
        <argsstring></argsstring>
        <name>itemCharge</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.itemCharge</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="6" column="16" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="6" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a5fd55e995d07fb5f921c318196a0ad40" prot="private" static="no" mutable="no">
        <type>double</type>
        <definition>double com.sterlite.cal.ivr.valueobject.AddonItemsMapper.itemDiscount</definition>
        <argsstring></argsstring>
        <name>itemDiscount</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.itemDiscount</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="7" column="16" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="7" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a8b2c10441c0eb57aae1a8e40bf5993ab" prot="private" static="no" mutable="no">
        <type>String</type>
        <definition>String com.sterlite.cal.ivr.valueobject.AddonItemsMapper.chargeType</definition>
        <argsstring></argsstring>
        <name>chargeType</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.chargeType</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="8" column="16" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="8" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a0e35d5cc3f5f4e62cdbffc3bfa2abf4e" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.AddonItemsMapper</definition>
        <argsstring>(String addonName, double itemCharge, double itemDiscount, String chargeType)</argsstring>
        <name>AddonItemsMapper</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.AddonItemsMapper</qualifiedname>
        <param>
          <type>String</type>
          <declname>addonName</declname>
        </param>
        <param>
          <type>double</type>
          <declname>itemCharge</declname>
        </param>
        <param>
          <type>double</type>
          <declname>itemDiscount</declname>
        </param>
        <param>
          <type>String</type>
          <declname>chargeType</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="10" column="8" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="10" bodyend="16"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a0938b8c29f096575ae48e4beb8f0e844" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>String</type>
        <definition>String com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getAddonName</definition>
        <argsstring>()</argsstring>
        <name>getAddonName</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getAddonName</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="18" column="15" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="18" bodyend="20"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1ae77599d1e457cc423b88aa943f5f0e5c" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>void com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setAddonName</definition>
        <argsstring>(String addonName)</argsstring>
        <name>setAddonName</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setAddonName</qualifiedname>
        <param>
          <type>String</type>
          <declname>addonName</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="21" column="13" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="21" bodyend="23"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a28905dc9689b95d59914582b1fdf3a70" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>double</type>
        <definition>double com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getItemCharge</definition>
        <argsstring>()</argsstring>
        <name>getItemCharge</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getItemCharge</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="24" column="15" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="24" bodyend="26"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1ad32ea016b365a2b3f08cf5e4319c8189" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>void com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setItemCharge</definition>
        <argsstring>(double itemCharge)</argsstring>
        <name>setItemCharge</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setItemCharge</qualifiedname>
        <param>
          <type>double</type>
          <declname>itemCharge</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="27" column="13" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="27" bodyend="29"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a9b55da3b11e3501c086b05ef84aa6db0" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>double</type>
        <definition>double com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getItemDiscount</definition>
        <argsstring>()</argsstring>
        <name>getItemDiscount</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getItemDiscount</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="30" column="15" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="30" bodyend="32"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a48bc5c47f1b27ca4ac4f56630ccf4595" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>void com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setItemDiscount</definition>
        <argsstring>(double itemDiscount)</argsstring>
        <name>setItemDiscount</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setItemDiscount</qualifiedname>
        <param>
          <type>double</type>
          <declname>itemDiscount</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="33" column="13" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="33" bodyend="35"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a482d3bdbd52b551919fd492d5c626a87" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>String</type>
        <definition>String com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getChargeType</definition>
        <argsstring>()</argsstring>
        <name>getChargeType</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.getChargeType</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="36" column="15" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="36" bodyend="38"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a2710cf1a16ca2dfc1784c8bd4602db1b" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>void com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setChargeType</definition>
        <argsstring>(String chargeType)</argsstring>
        <name>setChargeType</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.setChargeType</qualifiedname>
        <param>
          <type>String</type>
          <declname>chargeType</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="39" column="13" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="39" bodyend="41"/>
      </memberdef>
      <memberdef kind="function" id="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a4a5acf316e6b132223ba1a3cbcbb4985" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>String</type>
        <definition>String com.sterlite.cal.ivr.valueobject.AddonItemsMapper.toString</definition>
        <argsstring>()</argsstring>
        <name>toString</name>
        <qualifiedname>com.sterlite.cal.ivr.valueobject.AddonItemsMapper.toString</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="44" column="15" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="44" bodyend="56"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" line="3" column="7" bodyfile="repository/ivr/src/main/java/com/sterlite/cal/ivr/valueobject/AddonItemsMapper.java" bodystart="3" bodyend="57"/>
    <listofallmembers>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a0e35d5cc3f5f4e62cdbffc3bfa2abf4e" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>AddonItemsMapper</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1af521d143579ddbcfcbcd6cc73155a2c0" prot="private" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>addonName</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a8b2c10441c0eb57aae1a8e40bf5993ab" prot="private" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>chargeType</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a0938b8c29f096575ae48e4beb8f0e844" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>getAddonName</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a482d3bdbd52b551919fd492d5c626a87" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>getChargeType</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a28905dc9689b95d59914582b1fdf3a70" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>getItemCharge</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a9b55da3b11e3501c086b05ef84aa6db0" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>getItemDiscount</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a5b9ee2153979d7d52064a20ff67a7526" prot="private" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>itemCharge</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a5fd55e995d07fb5f921c318196a0ad40" prot="private" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>itemDiscount</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1ae77599d1e457cc423b88aa943f5f0e5c" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>setAddonName</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a2710cf1a16ca2dfc1784c8bd4602db1b" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>setChargeType</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1ad32ea016b365a2b3f08cf5e4319c8189" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>setItemCharge</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a48bc5c47f1b27ca4ac4f56630ccf4595" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>setItemDiscount</name></member>
      <member refid="classcom_1_1sterlite_1_1cal_1_1ivr_1_1valueobject_1_1_addon_items_mapper_1a4a5acf316e6b132223ba1a3cbcbb4985" prot="public" virt="non-virtual"><scope>com::sterlite::cal::ivr::valueobject::AddonItemsMapper</scope><name>toString</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
